<div class="row">
    <div class="col-md-4 p-4" *ngFor="let vacuna of vacunas">
        <div class="card" (click)="selectedVacuna(vacuna._id)">
            <div class="card-header">
                {{vacuna.name}}
            </div>
            <div class=card-body>
                {{vacuna.descripcion}}
            </div>
            <div class=card-body>
                {{vacuna.tecnologia}}
            </div>
            <div class=card-body>
                {{vacuna.fecha | date:'yyyy-MM-dd'}}
            </div>
        </div>
    </div>
</div>



