<div class="row p-4">
    <form (submit)="updatedVacuna(name,descripcion,tecnologia,fecha)">
    <div class="card">
        <div class="card-header">
            VACUNA:
        </div>
        <div class="form-group  p-4">
            <input type="text" class="form-control" placeholder="Name" [value]="vacuna.name" required #name>
        </div>
        <div class="form-group  p-4">
            <input type="text" class="form-control" placeholder="Description" [value]="vacuna.descripcion" required #descripcion>
        </div>
        <div class="form-group  p-4">
            <input type="text" class="form-control" placeholder="Tecnologia" [value]="vacuna.tecnologia" required #tecnologia>
        </div>
        <div class="form-group p-4">
            <input type="date" class="form-control" placeholder="Date"[value]="vacuna.fecha | date:'yyyy-MM-dd'" required #fecha>
        </div>
        <div class="form-group p-4">
            <input #fiable id="fiable" type="checkbox" [checked]="vacuna.fiable" (change)="onChange(fiable.checked)"/>
        </div>

        <div *ngFor="let id of vacuna.personas">
            <div *ngFor="let persona of personas">
                <div *ngIf="persona._id===id" class="form-group p-4">
                    {{persona.name}}
                </div>
            </div>        
        </div>
 
        <div class="d-grid gap-2 p-4">
        <button class="btn btn-primary btn-block">
            Update
        </button>
        </div>
    </div>
    </form>
</div>
<div class="row p-4">
    <form (submit)="addPersona(namePersona,edad)">
        <div class="card">
            <div class="card-header">
                PERSONA:
            </div>
            <div class="form-group  p-4">
                <input type="text" class="form-control" placeholder="Name" required #namePersona>
            </div>
            <div class="form-group  p-4">
                <input type="number" class="form-control" placeholder="Edad" required #edad>
            </div>
            <div class="d-grid gap-2 p-4">
                <button class="btn btn-primary btn-block">
                    Add
                </button>
            </div>
        </div>
    </form>
</div>